.venv/*
config.py
token.pickle
rclone.conf
.netrc
__pycache__/
.kiro/
.gitignore
log.txt
cfg.zip
accounts/*
thumbnails/*
rclone/*
tokens/*
cookies/*
mediainfo/*
sabnzbd/*
list_drives.txt
shortener.txt
cookies.txt
downloads/*
